
.navigationbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

.navigationbar a {
    display: inline-block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigationbar a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.navigationbar a[id="loginredirect"]{
    float:right;
}

#footercont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    text-align: center;
    font-size: 0.75em;
}

#footercont a {
    display: inline-block;
    color: #00ffff;
    text-decoration: none;
}

#footercont p {
    color: #f2f2f2
}

#footercont a:hover {
    color: black;
}

#footercont a[id="contact-footerlink"]:hover {
    color: black;
    cursor:pointer;
}

#introductionheader {
    text-align:center;
    font-family:Calibri;
}

.login-background p {
    padding: 30px;
    max-width: 350px;
    width: 100%;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    max-height: 500px;
    height: 300px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:-1;
}

.loginsystem h1[id="loginheading"] {
    text-align:center;
    font-family:Calibri;
}

.loginsystem {
    text-align: center;
}

.login-wrapper {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loginsystem input {
    margin: 0 auto;
    margin-bottom: 10px;
    height: 3em;
    width: 100%;
    align-items: center;
    text-align:center;
    border: solid 1px;
}

.loginsystem input[id="login-button"]{
    margin-right:0.3%;
    margin-top:2%;
    width: 50%;
    border: 1px;
    background-color: #333;
    color: #f2f2f2;
}

.loginsystem input[id="login-button"]:hover {
    background-color: #ddd;
    color:black;
}

.additionaloptions {
    position:fixed;
    top:120%;
}

.additionaloptions a {
    color:black;
    font-family:Calibri;
}

.additionaloptions a:hover {
    color:blue;
}

.register-wrapper {
    position: fixed;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
}

.registersystem h1 {
    text-align: center;
    font-family: Calibri;
}

.registersystem {
    text-align:center;
}

.registersystem input{
    text-align:center;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 3em;
    width: 100%;
    align-items: center;
    border: solid 1px;
}

.registererror p{
    color: #ff0000;
    font-family:Calibri;
    position:fixed;
    text-align:center;
    top:18%;
    left:50%;
    transform:translate(-50%,-50%);
}

.loginerror p {
    color: #ff0000;
    font-family: Calibri;
    position: fixed;
    text-align: center;
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.register-background p {
    padding: 30px;
    max-width: 350px;
    width: 100%;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    max-height: 500px;
    height: 450px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.registersystem input[id="register-submit"] {
    margin-right: 0.3%;
    margin-top: 2%;
    width: 50%;
    border: 1px;
    background-color: #333;
    color: #f2f2f2;
}

.registersystem input[id="register-submit"]:hover {
    background-color: #ddd;
    color: black;
}


.forgotpassword-box p {
    padding: 30px;
    max-width: 350px;
    width: 100%;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    max-height: 500px;
    height: 170px;
    position: fixed;
    top: 39%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.forgotpassword-wrapper {
    position: fixed;
    top:37%;
    left:50%;
    transform:translate(-50%,-50%);
}

.forgotpassword-forms h1 {
    font-family:Calibri;
    text-align:center;
}

.forgotpassword-forms input {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 3em;
    width: 100%;
    align-items: center;
    border: solid 1px;
}

.forgotpassword-forms input[id="forgotpassword-submit"] {
    margin-right: 0.3%;
    margin-top: 2%;
    width: 50%;
    border: 1px;
    background-color: #333;
    color: #f2f2f2;
}

.forgotpassword-forms input[id="forgotpassword-submit"]:hover {
    background-color: #ddd;
    color: black;
}

.forgotpassword-forms{
    text-align:center;
}

.section {
    clear: both;
    padding: 0px;
    margin-top: 0%;
}

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 2%;
}

html{
    margin-bottom:10%
}

.article-item {
    width: 30%;
    height: 30%;
    text-align: center;
}

.community-item {
    width: 17%;
    height: 17%;
    text-align: center;
}

.introduction-articles {
    text-align: center;
    font-family: Calibri;
}

.introduction-articles img[id="brand-logo"]{
    height:250px;
    width:50%;
}

.article-item img[id="article-image"] {
    max-width:600px;
    width: 100%;
    height: 340px;
    border: solid 1px white;
    cursor: pointer;
}

.community-item img[id="communityimage"] {
    max-width: 300px;
    width: 100%;
    height: 300px;
    max-height:400px;
    border: solid 1px white;
    cursor: pointer;
}

.article-content-page {
    text-align: center;
    font-family: Calibri;
}

.article-item img[id="article-image"]:hover{
    border: solid 1px;
}

.community-item img[id="communityimage"]:hover {
    border: solid 1px;
}

.article-write h1{
    text-align:center;
    font-family:Calibri;
}

.article-write input[id="article-title"]{
    position:fixed;
    width:20%;
    top:20%;
    height:2%;
    left:2%;
}

.article-write textarea{
    position:fixed;
    top:25%;
    width: 85%;
    height: 50%;
    left:2%
}

.article-write input[id="article-submit"] {
    position:fixed;
    top:80%;
    left:2%;
    width:10%;
    height:3em;
    border: solid 1px;
    background-color: #333;
    color: #f2f2f2;
}

.article-write input[id="article-submit"]:hover {
    background-color: #f2f2f2;
    color: #333;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.text-image-path textarea {
    position:absolute;
    left:50%;
    top:10%;
    transform:translate(-50%,-50%);
    border: solid 1px;

}

.text-image-path input {
    position: absolute;
    left: 50%;
    top: 14%;
    transform: translate(-50%,-50%);
    border: solid 1px;
}

.galleryofimages {
    margin-top:5%;
}

.galleryofimages img {
    border:solid 1px white;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:2%;
}

.galleryofimages img:hover{
    border:solid 1px;
}

.homepage-text {
    margin-left:7%;
    width:60%;
    float:left;
    font-size:1.2em;
    font-family:Calibri;
}

.homepage {
    width:100%;
}

.aboutmepage {
    width:100%;
    font-family:Calibri;
}

.aboutmepage h1{
    text-align:center;
}

.aboutme-text {
    margin-left: 7%;
    width: 60%;
    float: left;
    font-family: Calibri;
    font-size: 1.2em;
}

.contactpage h1[id="contactpage-heading"]{
    text-align:center;

}

.contactpage {
    font-family:Calibri;
}

.contact-page-text {
    margin-top:10%;
    float: left;
    text-align:center;
    font-family: Calibri;
    font-size:1.2em;
}

.contactlinks img{
    width:50px;
    height:50px;
}

.contact-page-form p {
    padding: 30px;
    max-width: 500px;
    width: 100%;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    max-height: 550px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.contact-page-form input {
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 10px;
    height: 3em;
    width: 100%;
    align-items: center;
    text-align: center;
    border: solid 1px;
}

.contact-page-form h1{
    font-family:Calibri;
    text-align:center;
}

.contact-page-form textarea{
    width:500px;
    height:300px;
    margin-top:2%;
    border: 1px solid;
    resize:none;
    text-align:center; 
    font-family:Arial;
}

.contact-page-form-wrapper {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index:-1;
}

.contactlinks {
    float: left;
    margin-bottom:10%;
    z-index:-1;
}

.contact-page-form input[id="contact-submit"] {
    border: 1px;
    background-color: #333;
    color: #f2f2f2;
}

.contact-page-form input[id="contact-submit"]:hover {
    background-color: #ddd;
    color: black;
}

.send-newsletter {
    font-family:Calibri;
    float:left;
    margin-left:7%;
}

.send-newsletter input[id="subject-newsletter"] {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3em;
    width: 100%;
    align-items: center;
    text-align: center;
    border: solid 1px;
}

.send-newsletter textarea {
    position: fixed;
    top: 25%;
    width: 85%;
    height: 50%;
    left: 7%
}

.send-newsletter input[id="submit-newsletter"] {
    position: fixed;
    top: 80%;
    left: 7%;
    width: 10%;
    height: 3em;
    border: solid 1px;
    background-color: #333;
    color: #f2f2f2;
}

.send-newsletter input[id="submit-newsletter"]:hover{
    background-color:#f2f2f2;
    color:#333;
}

.newsletter-signup {
    font-family: Calibri;
    position: relative;
    float: left;
    margin-left: 7%;
    font-size: 1.2em;
    width: 40%;
    z-index:-10;
}

.newsletter-signup input[id="newsletter-register"] {
    margin: 0 auto;
    margin-top: 10px;
    height: 3em;
    width: 300px;
    align-items: center;
    text-align: center;
    border: solid 1px;
    
}

.newsletter-signup input[type="submit"] {
    width: 150px;
    height: 3.4em;
    border: solid 1px;
    background-color: #333;
    color: #f2f2f2;
}

.newsletter-signup input[type="submit"]:hover {
    background-color: #f2f2f2;
    color: #333;
}

.newsletter-signup p[id="newsletter-register-result-success"]{
    color:#4CAF50;
}

.newsletter-signup p[id="newsletter-register-result-fail"]{
    color:#ff0000;
}

.registersystem input[type="checkbox"]{
    width:15px;
    height:15px;
    float:left;
    margin-top:3px
}

.checkbox-wrapping {
    font-family:Calibri;
}

.community-heading {
    text-align:center;
    font-family:Calibri;
}

.community-background{
    margin-top:5%;
}

.community-search input[id="communitysearchbar"] {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3em;
    width: 300px;
    align-items: center;
    text-align: center;
    border: solid 1px;
}

.community-search {
    text-align:center;
}

.community-search input[type="submit"] {
    width: 150px;
    height: 3.4em;
    border: solid 1px;
    background-color: #333;
    color: #f2f2f2;
}

.community-search input[type="submit"]:hover {
    background-color: #f2f2f2;
    color: #333;
}

.profile-picture {
    max-width:250px;
    max-height:250px;
}

.profile-picture img[id="profile-picture-content"]{
    margin-top:1%;
    border: solid 1px;
    width:100%;
    height:100%;
}






/*screen size alterations*/
@media only screen and (max-width: 1700px) {
    .col {
        margin: 1% 0 1% 1%;
    }

    .article-item img[id="article-image"] {
        width: 100%;
        height: 300px;
    }

}

@media only screen and (max-width: 1500px) {
    .col {
        margin: 1% 0 1% 1.5%;
    }

    .article-item img[id="article-image"] {
        width: 100%;
        height: 280px;
    }

    .contact-page-form-wrapper {
        top: 90%;
        left: 35%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 1300px) {
    .col {
        margin: 1% 0 1% 1.2%;
    }

    .article-item img[id="article-image"] {
        width: 100%;
        height: 250px;
    }

    .contact-page-form-wrapper {
        top: 90%;
        left: 35%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-height: 920px) {
    .contactpage{
        margin-top:-6%;
        margin-bottom:10%
    }
    .contact-page-form-wrapper {
        margin-top:10%;
    }
}

@media only screen and (max-height: 847px) {
    .contact-page-form-wrapper {
        margin-top: 20%;
    }
}

@media only screen and (max-height: 792px) {
    .contact-page-form-wrapper {
        margin-top: 40%;
    }
}
@media only screen and (max-height: 699px) {
    .contact-page-form-wrapper {
        margin-top: 60%;
    }
}
@media only screen and (max-height: 590px) {
    .contact-page-form-wrapper {
        margin-top: 100%;
    }
}
@media only screen and (max-height: 410px) {
    .contact-page-form-wrapper {
        margin-top: 150%;
    }
}

@media only screen and (max-width: 1000px) {
    .col {
        margin: 1% 0 1% 1%;
    }

    .article-item img[id="article-image"] {
        width: 100%;
        height: 220px;
    }
}

@media only screen and (max-width: 950px) {
    .contact-page-form-wrapper {
        top: 88%;
        left: 45%;
        margin-bottom: 10%;
    }

}

@media only screen and (max-width: 700px) {
    .col {
        margin: 1% 0 1% 1%;
    }

    .article-item img[id="article-image"] {
        width: 100%;
        height: 180px;
    }

    .contact-page-form textarea{
        width:100%;
    }

    .contact-page-form-wrapper {
        width:80%;
        top: 88%;
        left: 50%;
        margin-bottom: 10%;
    }

}

@media only screen and (max-width: 551px) {
    .contact-page-form-wrapper {
        width: 80%;
        top: 94%;
        left: 50%;
        margin-bottom: 12%;
    }
}

/*mobile display*/
@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }

    .article-item {
        width: 100%;
    }

    .community-item {
        width:100%;
    }

    #footercont{
        visibility: hidden;
    }
}

@media only screen and (max-width: 350px){
    .community-item img[id="communityimage"] {
        width: 100%;
        height: 250px;
    }
}

@media only screen and (max-width: 234px) {
    .community-item img[id="communityimage"] {
        width: 100%;
        height: 150px;
    }
}

@media only screen and (max-width: 1500px) {
    .col {
        margin: 1% 0 1% 1%;
    }

    .community-item img[id="communityimage"] {
        width: 100%;
        height: 250px;
    }
}

@media only screen and (max-width: 1263px) {
    .col {
        margin: 1% 0 1% 1%;
    }

    .community-item img[id="communityimage"] {
        width: 100%;
        height: 200px;
    }
}

@media only screen and (max-width: 1026px) {
    .col {
        margin: 1% 0 1% 1%;
    }

    .community-item img[id="communityimage"] {
        width: 100%;
        height: 150px;
    }
}

@media only screen and (max-width: 860px) {
    .col {
        margin: 1% 0 1% 1%;
    }

    .community-item img[id="communityimage"] {
        width: 100%;
        height: 100px;
    }
}


@media only screen and (max-width: 535px) {
    .col {
        margin: 1% 0 1% 1%;
    }

    .community-item img[id="communityimage"] {
        width: 100%;
        height: 80px;
    }
}

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 1%;
    }

    .community-item img[id="communityimage"] {
        width: 100%;
        height: 250px;
    }
}