<div class="forgotpassword-wrapper">
    <div class="forgotpassword-forms">
        <h1 id="forgotpassword-heading">Retrieve your password</h1>
        <input type="text" id="forgotpassword-email" placeholder="Enter your email" />
        <input type="submit" id="forgotpassword-submit" value="Retrieve" />
    </div>
</div>
<div class="forgotpassword-box">
    <p></p>
</div>
