<div class="contactpage">
    
    <div class="contact-page-text">
        <h1 id="contactpage-heading">Contact Information</h1>
        <p>If you wish to ask me a question you can contact me by using the form</p>
        
        
        
        <br />
        <br />
        
        <div class="contactlinks">
            <p>You can also find me on social media with the following links:</p>
            <a href="https://twitter.com/" id="twitterlink">
                <img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/256/Twitter-icon.png" />
            </a>
            <a href="https://www.facebook.com/nicolai.rexjensen">
                <img src="https://www.facebook.com/images/fb_icon_325x325.png" />
            </a>
            <a href="https://www.linkedin.com/in/nicolai-hedegaard-jensen-78623a144/">
                <img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" />
            </a>
            <p id="freelance-contact">If you wish to contact me regarding freelance work please contact me on email: <a href="mailto:nicolai@domainname.com">nicolai@domainname.com</a></p><br />
        </div>
        
    </div>

</div>

<div class="contact-page-form-wrapper">
    <div class="contact-page-form">
        <h1>Contact Form</h1>
        <input type="text" id="contact-name" name="contactName" placeholder="Name" /> <br />
        <input type="text" id="contact-email" name="contactEmail" placeholder="Email" /> <br />
        <textarea id="contact-proposal" name="contactProposal" placeholder="Content"></textarea> <br />
        <input type="submit" id="contact-submit" value="Submit" />
        <p>
    </div>
</div>