@model IEnumerable<nicoblogproject.Models.Images>

<script>
    var imagePaths = []
</script>

<div class="text-image-path">
    <form asp-controller="Articles" asp-action="AddThumbnailAction" method="post">
        <textarea id="formresult" name="imagepath"></textarea> <br />
        <input type="submit" id="final-article-submit" value="Add Article" />
    </form>
</div>

<div class="galleryofimages">
        @foreach(var f in Model){
            <a id="@f.ImagesPath">
                <img src="@f.ImagesPath" height="350" width="350">
            </a>
            <script>
                imagePaths.push("@f.ImagesPath");
            </script>
        }
</div>



<script>
window.onload = function () {
    for (var i = 0; i < imagePaths.length; i++) (function (i) {
        document.getElementById(imagePaths[i]).onclick = function () {
            document.getElementById("formresult").value = imagePaths[i];
        }
    })(i);
}
</script>


