<div class="aboutmepage">
    <h1 id="aboutme-heading">About me</h1> <br />
    <div class="aboutme-text">
        <p>My name is Nicolai Hedegaard Jensen. <br />
        I am currently residing in Odense, Denmark. <br />
        Currently I study Software Engineering at the University of Southern Denmark</p>
        <p>I have about three years of development experience, and i am currently expanding my project portfolio, which is avaliable on <a href="https://github.com/Triah/"><strong>GitHub</strong></a></p>
        <p>I have experience across multiple different technologies including:
            <blockquote>
                <strong>
                    • &nbsp; Java, on both Desktop and Android platforms <br />
                    • &nbsp; C#, on Desktop and Web platforms with ASP.NET Core 1.1 <br />
                    • &nbsp; Python, for AI and Web applications using Django <br />
                    • &nbsp; Object Oriented Programming, Functional Programming and Component Based Programming across multiple technologies <br />
                    • &nbsp; Web development (HTML, CSS and JavaScript) <br />
                </strong>
            </blockquote>
        </p>
        <p>Across all the above I have a personal preference for Desktop Java Applications.</p>
        <p>Three years ago i entered the Software field having no prior experience in it, and I have never looked back since. <br />
        Being a developer to me is more than just a means to an end, it is a lifestyle. The feeling of writing a beautiful method and seeing it run is the best feeling i know. <br /> <br />
        This is why i will keep refining my skills, documenting within this blog about my journey to become a successful software developer. <br />
        So join me, on the path of learning the ways of software development, covering Architecture, Design Principles, Coding, Frameworks and much more.</p>
    </div>
</div>